{{title 'Success | Post A Job | FrontHAT'}}
<div class="post-a-job-success">
  <p>Success - thank you for posting a job. We'll send you a confirmation email with the invoice as soon as possible.</p>
</div>
