<div class="about-header">
  About
  <p>
    FrontHAT's mission is to help companies find remote software development and design talent.
  </p>
</div>

<hr>

<div class="question-container">
  <h3>What is a remote / telecommute job?</h3>
  <p>
    Remote job can be done anywhere as long as there's internet connection.
  </p>
</div>
<hr>

<div class="question-container">
  <h3>Is every job listing 100% remote?</h3>
  <p>
    Yes, every job is 100% remote, although some jobs might have additional restrictions (country or time zone based).
  </p>
</div>
<hr>

<div class="question-container">
  <h3>I have an idea on how to make FrontHAT better...</h3>
  <p>
    Great! FrontHAT is open source. The source code is available on <a href="https://github.com/erkarl/fronthat" target="_blank" rel="noopener">GitHub</a>. Please <a href="https://github.com/erkarl/fronthat/issues" target="_blank" rel="noopener">open up a new issue</a> for bug reports and feature suggestions.
  </p>
  <p>Alternatively, you can email us your feedback.</p>
</div>
<hr>

<div class="question-container">
  <h3>Contact</h3>
  <ul>
    <li>
      Twitter - <a href="https://twitter.com/thefronthat" target="_blank" rel="noopener">@TheFrontHAT</a>
    </li>
    <li>
      Email - <a href="mailto:the@fronthat.com" rel="noopener">the@fronthat.com</a>
    </li>
  </ul>
</div>
