<form action="https://www.getdrip.com/forms/64302472/submissions" method="post">
  <div class="subscribe-container">
    <h4 class="subscribe-header">Be the first one to see similar job postings</h4>
    <label class="subscribe-label" for="fields[email]">Email:</label>
    <input class="email-input" type="email" placeholder="my@email.com" name="fields[email]" id="fields[email]" value="" />
    <input class="nav-button subscribe-button" type="submit" name="submit" value="Subscribe" />
  </div>
</form>
