&.job-details {
  margin: 2rem auto 5rem;
}

& {
  @media screen and (max-width: 568px) {
    .job-details-main-toolbar p {
      font-size: .8125rem;
    }
}
  @media screen and (min-width: 450px) {
  .rwd-break {
    display: none;
    }
  }
}
