& {
  .mail-paragraph {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: normal;
    text-transform: none;
  }
  .category-bulleted {
  }
  ul {
    margin: 0;
    padding: 0 0 1.1rem 0;
    clear: both;
  }
  .list-item {
    padding: .2em 0.5em;
    list-style: disc;
    display: inline;
    color: #212121;
    font-weight: 600;
  }
  .category-item-link {
    color: #212121;
    &:hover {
      color: #af2828
    }
  }
}
